body {
  background-color: #2e353f;
  overflow-x: hidden;
}

body .place {
  font-family: 'Damion', cursive;
  font-size: 1.7em;
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 1px;
}

body .box {
  text-align: center;
  width: 660px;
  margin: 8% auto;
  border: 1px solid #fff;
  padding-bottom: 50px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  body .box {
    max-width: 350px;
    margin: 8% auto;
  }
}

body .box__icon {
  color: #fff;
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  line-height: 40px;
}

body .box__title {
  color: #fff;
  font-family: 'Damion', cursive;
  font-size: 4em;
  font-weight: bold;
  width: 100%;
}

body .box__love {
  color: white;
  margin-top: -2%;
  margin-bottom: 6%;
}

body .box__input {
  text-align: center;
}

body .box__input input {
  width: 320px;
  margin: auto auto 10px auto;
  padding: 8px 8px 8px 18px;
  display: block;
  border-radius: 100px;
  background-color: #363c47;
  border: none;
  color: #fff;
}

body .box__input .btn_sub {
  margin-top: 3%;
  background-color: #868396;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

body .box__input .signup {
  color: #868396;
  position: relative;
}

body .box__input .signup:before {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  width: 1%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

body .box__input .signup:hover:before {
  width: 100%;
}

body .landing__divimg {
  position: relative;
}

body .landing__divimg:before {
  content: '';
  position: absolute;
  bottom: -49px;
  left: 47%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2e353f;
}

@media (max-width: 767px) {
  body .landing__divimg:before {
    left: 45%;
  }
}

body .landing__divimg:after {
  content: '';
  position: absolute;
  bottom: -44px;
  left: 47.3%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid white;
}

@media (max-width: 767px) {
  body .landing__divimg:after {
    left: 45.8%;
  }
}

body .landing__restaurant {
  position: relative;
  top: 73px;
  color: #fff;
  margin-bottom: 20px;
}

body .landing__icon {
  position: absolute;
  top: 98%;
  left: 49.6%;
  font-size: 2em;
  text-align: center;
  line-height: 27px;
}

@media (max-width: 767px) {
  body .landing__icon {
    left: 54%;
    line-height: 10px;
  }
}

body .frog__text {
  position: relative;
  top: 70px;
}

body .frog__title {
  color: #fff;
  font-size: 1.7em;
  margin-bottom: 3px;
}

body .frog__address {
  color: #868396;
}

body .frog__butons {
  position: relative;
  top: 70px;
}

body .frog__btn {
  width: 90px;
  padding: 5px;
  border: none;
  background-color: #272d36;
  border-radius: 100px;
  color: #868396;
  text-align: center;
  font-size: 0.9em;
}

body .slider {
  margin-top: 6%;
}

body .slider__inner {
  position: relative;
  text-align: center;
}

body .slider__inner .bolt {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #868396;
  border-radius: 50%;
  cursor: pointer;
}

body .slider__inner .bolt.active {
  background-color: #fff;
}

body .slider__img {
  border-radius: 30px;
}

@media (max-width: 991px) {
  body .slider__img {
    margin-top: 15%;
  }
}

@media (max-width: 1200px) {
  body .slider__img {
    margin-top: 6%;
  }
}

body .favorit__title {
  font-size: 1.5em;
}

body .favorit__img {
  text-align: right;
}

body .favorit__img img {
  width: 70px;
  height: 70px;
  position: relative;
}

body .favorit__img img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #1445a0;
  border-radius: 50%;
}

body .favorit .options__all {
  background-color: #363c47;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

body .favorit .options__circle {
  position: relative;
}

body .favorit .options__circle i {
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  line-height: 40px;
  text-align: center;
}

body .favorit .options__all--restaurent {
  border: 1px solid red;
}

body .footer {
  background-color: #272d36;
  height: 100px;
}

body .footer .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #868396;
  margin: auto;
  position: relative;
  top: -23%;
}

body .footer .circle:after {
  content: '+';
  position: absolute;
  top: 8px;
  left: 24px;
  font-size: 2em;
}

body .footer .list {
  position: relative;
  right: 6px;
  font-size: 1.1em;
  color: #868396;
}

body .footer .list:hover {
  color: #fff;
}

body .footer .fa-list {
  color: #868396;
}

body .footer .fa-list:hover {
  color: #fff;
}

body .footer .setting {
  position: relative;
  right: -4px;
  font-size: 1.1em;
  color: #868396;
}

body .footer .setting:hover {
  color: #fff;
}

body .footer .fa-cog {
  position: relative;
  left: -6%;
  color: #868396;
}

body .footer .fa-cog:hover {
  color: #fff;
}

.bg-light {
  background-color: #2e353f !important;
  border-bottom: 1px solid white;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff !important;
}
/*# sourceMappingURL=style.css.map */