body {
  background-color: #2e353f;
  overflow-x: hidden;

  .place {
    font-family: 'Damion', cursive;
    font-size: 1.7em;
    color: #fff !important;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .box {
    text-align: center;
    width: 660px;
    margin: 8% auto;
    border: 1px solid #fff;
    padding-bottom: 50px;
    border-radius: 10px;
    @media (max-width: 600px) {
      max-width: 350px;
      margin: 8% auto;
    }
    &__icon {
      color: #fff;
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #fff;
      text-align: center;
      line-height: 40px;
    }
    &__title {
      color: #fff;
      font-family: 'Damion', cursive;
      font-size: 4em;
      font-weight: bold;
      width: 100%;
    }
    &__love {
      color: white;
      margin-top: -2%;
      margin-bottom: 6%;
    }
    &__input {
      text-align: center;
      input {
        width: 320px;
        margin: auto auto 10px auto;
        padding: 8px 8px 8px 18px;
        display: block;
        border-radius: 100px;
        background-color: #363c47;
        border: none;
        color: #fff;
      }
      .btn_sub {
        margin-top: 3%;
        background-color: #868396;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
      }
      .signup {
        color: #868396;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 25px;
          left: 0;
          width: 1%;
          height: 2px;
          background-color: #fff;
          transition: width 0.4s ease-in-out;
        }
        &:hover:before {
          width: 100%;
        }
      }
    }
  }

  // Start Landing Page
  .landing {
    &__divimg {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -49px;
        left: 47%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #2e353f;
        @media (max-width: 767px) {
          left: 45%;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -44px;
        left: 47.3%;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 5px solid white;
        @media (max-width: 767px) {
          left: 45.8%;
        }
      }
    }
    &__restaurant {
      position: relative;
      top: 73px;
      color: #fff;
      margin-bottom: 20px;
    }
    &__icon {
      position: absolute;
      top: 98%;
      left: 49.6%;
      font-size: 2em;
      text-align: center;
      line-height: 27px;
      @media (max-width: 767px) {
        left: 54%;
        line-height: 10px;
      }
    }
  }
  // End Landing Page
  // Start Frog
  .frog {
    &__text {
      position: relative;
      top: 70px;
    }
    &__title {
      color: #fff;
      font-size: 1.7em;
      margin-bottom: 3px;
    }
    &__address {
      color: #868396;
    }
    &__butons {
      position: relative;
      top: 70px;
    }
    &__btn {
      width: 90px;
      padding: 5px;
      border: none;
      background-color: #272d36;
      border-radius: 100px;
      color: #868396;
      text-align: center;
      font-size: 0.9em;
    }
  }
  // End Frog
  // Start Slider
  .slider {
    margin-top: 6%;
    &__inner {
      position: relative;
      text-align: center;
      .bolt {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #868396;
        border-radius: 50%;
        cursor: pointer;
        &.active {
          background-color: #fff;
        }
      }
    }
    &__img {
      border-radius: 30px;
      @media (max-width: 991px) {
        margin-top: 15%;
      }
      @media (max-width: 1200px) {
        margin-top: 6%;
      }
    }
  }
  // End Slider
  .favorit {
    &__title {
      font-size: 1.5em;
    }
    &__img {
      text-align: right;
      img {
        width: 70px;
        height: 70px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 25px;
          height: 25px;
          background-color: #1445a0;
          border-radius: 50%;
        }
      }
    }
    .options {
      &__all {
        background-color: #363c47;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
      }
      &__circle {
        position: relative;
        i {
          position: absolute;
          top: -10px;
          left: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid white;
          line-height: 40px;
          text-align: center;
        }
      }
      &__all--restaurent {
        border: 1px solid red;
      }
    }
  }
}

// Bootstrap
.bg-light {
  background-color: #2e353f !important;
  border-bottom: 1px solid white;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-toggler-icon {
  color: #fff !important;
}
